
$mobile: 320px;
$mobile-plus: 420px;
$mobile-landscape: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1200px;
$desktop-wide: 1600px;

@mixin mobile {
	@media (min-width: #{$mobile}) {
		@content;
	}
}
@mixin mobile-plus {
	@media (min-width: #{$mobile-plus}) {
		@content;
	}
}
@mixin mobile-landscape {
	@media (min-width: #{$mobile-landscape}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}
@mixin tablet-landscape {
	@media (min-width: #{$tablet-landscape}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}
@mixin desktop-wide {
	@media (min-width: #{$desktop-wide}) {
		@content;
	}
}
